* {
    font-family: sans-serif;
    font-size: 16px;
}

#root {
    height: 100%;
    width: 100%;
    text-align: center;
}

#stem {
    display: inline-block;
    text-align: left;
}

h1 {
    font-size: 45px;
    color: purple;
    text-decoration: underline;
    margin: 20px;
    text-align: left;
}

.pointer-hover:hover {
    cursor: pointer;
}

.green-btn {
    outline: none;
    border: 2px solid black;
    background: green;
    color: white;
    padding: 10px;
}

.red-underline-txt {
    color: #a50000;
    text-decoration: underline;
}

.invisible {
    display: none !important;
}

.create-day-wrapper {
    margin-left: 20px;
}

.create-day-wrapper .create-day-form {
    display: inline-block;
}

.create-day-wrapper .create-day-form .create-day-btn {
    padding-top: 5px;
    padding-bottom: 5px;
}

.create-day-wrapper .create-day-form input[type="text"] {
    margin-bottom: 10px;
    width: 200px;
}

.create-day-wrapper .create-day-form .create-day-btn {
    float: right;
}

table {
    display: inline-block;
    border-collapse: collapse;
    margin: 20px;
    text-align: left;
    min-width: 330px;
}

table caption {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

table caption span.dayName {
    float: left;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

.add-new-meal-entry {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid black;
}

.add-new-meal-entry:hover {
    text-decoration: underline;
}

.table-wrapper {
    display: inline-block;
}

table caption span.delete-day {
    float: right;
    margin-right: 10px;
    color: #a50000;
}

table caption span.delete-day:hover {
    text-decoration: underline;
}

table thead tr th {
    padding: 7px;
}

table tbody tr td {
    padding: 7px;
    min-width: 150px;
}

table tbody tr:nth-child(odd) {
    background-color: rgba(230, 203, 0, 0.42);
}

.delete-meal-entry {
    float: right;
    color: #a50000;
    cursor: pointer;
}

.delete-meal-entry:hover {
    text-decoration: underline;
}

.create-meal-entry-form {
    display: inline-block;
    margin-top: 10px;
}

.create-meal-entry-form .create-meal-entry-btn {
    padding: 5px;
    float: right;
    border: 1px solid black;
}

.create-meal-entry-form .calories {
    width: 80px;
}

.create-meal-entry-form input[type="text"] {
    margin-bottom: 10px;
    width: 200px;
}

.cancel-new-meal-entry {
    float: left;
}